html{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after{
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

h1{
  text-align: center;
  font-family: 'Lobster Two';
  font-size: 4em;
}

label{
  font-family:'Raleway';
  font-size: 1.3em;
}
body{
  background: url("../img/tomatoes.jpg") center center no-repeat fixed;
  background-size: cover;
}

label, input, button {
  display: block;
}

input, button {
  margin-bottom: 15px;
}

input{
  font-size: 1em;
  padding: 5px;
  width: 250px;
}

button{
  padding: 10px;
  font-size: 1em;
}

/*Table Styling*/

table {
  border: 1px solid #1e1e1e;
  border-radius: 3px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  font-family: 'Raleway';
  font-size: 1.3em;
}

thead {
  font-weight: bold;
  background-color: gray;
  color: white;
}

td, th {
  padding: 1rem;
}

form{
background-color: rgba(255,255,255,.7);
width: 550px;
border-radius: 10px;
margin-right: auto;
margin-left: auto;
margin-top: 30px;
padding: 20px;
text-align: center;
border: solid 5px #426f5b;

}

button, input{
  margin-left: auto;
  margin-right: auto;
}

tbody{
  background-color: white;
}
